<div class=" my-5" >

    <footer class=" text-center text-lg-start text-white mx-auto" style="text-align: center;" >
      
      <div class="container p-4">
        
        <div class="row my-4">
         
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            
            <h5 class=" mb-4 text-white"></h5>
  
        
          </div>
          
        </div>
    
      </div>
      
      <div class=" p-3 mx-auto" style="background-color: rgba(0, 0, 0, 0.2);  ">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 mx-auto" style="text-align: center;">
            <h5 class=" mb-4 text-white">Contactos</h5>
  
            <ul class="list-unstyled">
                <p><i class="fas fa-phone pe-2 text-dark"></i>+244 956 388 860</p>
              <li>
                <p><i class="fas fa-envelope pe-2 mb-0 text-dark"></i>vicentecosmo55@gmail.com</p>
              </li>
              <li class="mb-2">
                <i class="fas fa-paw pe-3"></i>Desenvolvido por <a href="https://www.facebook.com/VicentCosmo?mibextid=rS40aB7S9Ucbxw6v" style="font-size: larger;
                font-weight: bolder; " >Vicente Cosmo</a>
              </li>
            </ul>
          </div>
      </div>
    
    </footer>
   
  </div>
